@import '_vars';

// Images
$image-marketing-bg: $image-asset-path + 'display/masthead-bg.jpg';
$image-border: $image-asset-path + 'display/border.gif';
$image-border-gold: $image-asset-path + 'display/border-gold.gif';

$image-background-tile-kanalet: $image-asset-path +
    'display/bg-tile-kanalet.gif';

$image-overworld-original: $image-asset-path +
    'overworld/overworld-original.png';
$image-overworld-improved: $image-asset-path +
    'overworld/overworld-improved.png';
$image-overworld-detailed: $image-asset-path +
    'overworld/overworld-detailed.png';

$image-overworld-overlay-advanced: $image-asset-path +
    'overworld/overworld-advanced.gif';
$image-overworld-overlay-poh-exterior: $image-asset-path +
    'overworld/overworld-overlay-poh-exterior.png';
$image-overworld-overlay-poh-interior: $image-asset-path +
    'overworld/overworld-overlay-poh-interior.png';
$image-overworld-overlay-shells: $image-asset-path +
    'overworld/overworld-overlay-shells.png';
$image-overworld-overlay-chests: $image-asset-path +
    'overworld/overworld-overlay-chests.png';
