// setup
@import '_reset';
@import '_vars';
@import '_images';
@import '_mixins';
@import '_font';
@import '_states';

// components
@import '_modal';

html {
    min-width: 320px;

    &.marketing-page {
        background-color: white;
    }

    &,
    body {
        @extend %full-abs;
        color: white;
        background-image: url($image-asset-path+'display/bg-tile-kanalet.gif');
    }

    body {
        padding: 0;
        margin: 0;
        background-position: center;
        background-color: $blue-1;
        font-family: $font-family;

        .tracker {
            width: 100%;
            padding: 10px;
            position: relative;
            box-sizing: border-box;

            @include clearfix;

            &::before {
                content: '';
                display: none;
                background-color: inherit;
                position: absolute;
                left: 0;
                right: auto;
                top: -20px;
                bottom: auto;
                font-size: 16px;
                color: white;
                padding: 7px 10px 0;
                z-index: 3;
                pointer-events: none;
            }
        }

        input[type='submit'],
        button {
            float: left;
            display: block;
            clear: both;
            width: 50%;
            cursor: pointer;
            padding: 5px;
            border-radius: 3px;
            border: 1px solid gray;
            background-color: white;
            color: black;
            font-family: $font-family;
            font-size: 15px;

            &[disabled] {
                opacity: 0.5 !important;
                cursor: not-allowed !important;
            }
        }

        a.button {
            text-decoration: none;
            color: inherit;
        }

        small {
            font-size: 12px;
        }

        .grid-container {
            width: 100%;
            max-width: 1024px;
            margin: 0 auto;
            position: relative;
            padding: 0 30px;
            box-sizing: border-box;
        }
    }
}
