html {
	background-color: white;
	overflow-x: hidden;
	min-width: 320px;
}

#windfish-docs {
	color: white;
	font-family: $readStack;
	background-color: #121212;
	background-image: url( $masthead-bg );
	background-size: auto 100%;
	background-position: center 60px;
	background-attachment: fixed;

	a.title-link {
		display: block;
	}

	section {
		padding: 80px 0;
		background-color: $darkBlue;

		&:focus {
			outline: 0 !important;
		}
	}

	strong {
		font-weight: bold;
	}

	img {
		user-select: none;
	}
	
	h1, h3 {
		font-family: $displayStack;
	}

	h3 {
		font-size: 70px;
		margin-bottom: 60px;

		@include mediaMax( 569px ) {
			font-size: 50px;
		}
	}

	h4 {
		font-size: 40px;
		font-family: $displayStack;
		margin-bottom: 30px;
		color: $blue;
		font-weight: bold;

		@include mediaMax( 569px ) {
			font-size: 30px;
		}
	}

	p {
		font-size: 16px;
		line-height: 1.3em;
	}

	.grid-container {
		width: 100%;
		max-width: 960px;
		margin: 0 auto;
		position: relative;

		@include clear();

		@include mediaMax( 1020px ) {
			max-width: 100%;
			padding: 0 30px;
			box-sizing: border-box;
		}

		@include mediaMax( 569px ) {
			// padding: 0 20px;
		}
	}

	a {
		&:link,
		&:visited,
		&:focus,
		&:active {
			color: inherit;
			text-decoration: none;
		}
	}

	.btn {
		background-color: $blue;
		border: 1px solid lighten( $blue, 10% );
		border-radius: 5px;
		display: inline-block;
		// transition: background .25s;
		margin: {
			top: 20px;
			left: auto;
			right: auto;
			bottom: 20px;
		}

		&.btn-green {
			background-color: $green;
			border-color: lighten( $green, 10% );

			// &:hover {
			// 	background-color: darken( $green, 10% );
			// }
		}

		// &:hover {
		// 	background-color: darken( $blue, 10% );
		// }

		span {
			padding: 20px 30px;
			display: inline-flex;
			color: white;
			font-family: $readStack;
			font-size: 20px;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: bold;

			img {
				width: 20px;
				height: 20px;
				margin-left: 10px;
			}
		}
	}

	.md-conversion {
		h1 {
			display: none;
		}

		h2 {
			font-size: 30px;
			margin-top: 60px;
			margin-bottom: 0;
			font-weight: bold;
			color: $blue;

			&:first-of-type {
				margin-top: 0;
			}
		}

		h3 {
			font-family: $readStack;
			font-weight: bold;
			font-size: 24px;
			margin-top: 40px;
			margin-bottom: 0;
		}

		h4 {
			font-size: 20px;
			margin-top: 40px;
			margin-bottom: 0;
			text-decoration: underline;
			font-family: $readStack;
		}

		p {
			margin-top: 10px;
			margin-bottom: 0;
			font-size: 18px;
		}

		em {
			font-style: italic;
			color: $pink;
		}

		strong {
			display: block;
			margin-bottom: 10px;
		}

		p, li {
			code {
				display: inline;
				padding: 3px 8px;
				background-color: #efefef;
				color: $pink;
				font-family: monospace;
			}
		}

		ul, ol {
			margin-top: 20px;
			margin-left: 20px;
			margin-bottom: 0;
			
			li {
				margin-bottom: 20px;
				line-height: 1.2em;
				position: relative;

				&::before {
					text-align: center;
					content: "\2022";
					position: absolute;
					left: -30px;
					top: 0;
					height: 100%;
					width: 30px;
					color: black;
				}
			}
		}
	}
}