@import url('https://fonts.googleapis.com/css?family=Playball|Magra');

$imagePath: '/static/images/';
$masthead-bg: $imagePath + 'display/masthead-bg.jpg';
$readStack: 'Magra', Helvetica, Verdana, sans-serif;
$displayStack: 'Playball', Georgia, sans-serif;

$darkBlue: #010619;
$blue: lighten($darkBlue, 50%);
$green: #9fa037;
$pink: #ee306c;

// clear floats
@mixin clear() {
    &::before,
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

// 16x9 ratio for video
@mixin video() {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

    iframe,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// Uses flexbox to align children elements vertically
@mixin verticalAlignChildren() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin mediaRange($range1, $range2) {
    @media only screen and (min-width: $range1) and (max-width: $range2) {
        @content;
    }
}

@mixin mediaMax($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}

@mixin mediaMin($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

@import 'global/_reset.scss';
@import 'global/_layout.scss';
@import 'partials/_nav.scss';
@import 'partials/_masthead.scss';
@import 'partials/_features.scss';
@import 'partials/_footer.scss';
