#windfish-docs {
	nav {
		background-color: white;
		min-height: 70px;
		position: fixed;
		width: 100%;
		z-index: 9;
		border-bottom: 1px solid $darkBlue;
		overflow: hidden;

		& + * {
			padding-top: 130px !important;
		}

		@include mediaMax( 799px ) {
			position: relative;

			& + * {
				padding-top: 60px !important;
			}
		}

		@include clear();

		.grid-container {
			display: flex;
			align-items: center;
			justify-content: center;

			@include mediaMax( 569px ) {
				display: block;
				padding-bottom: 20px;
				padding-left: 10px;
				padding-right: 10px;
			}
		}

		.short-title {
			float: left;
			font-size: 28px;
			padding: 20px 30px 20px 0;
			font-weight: bold;
			color: $blue;
			font-family: $displayStack;
			flex: 1;

			@include mediaMax( 569px ) {
				float: none;
				text-align: center;
				padding: 20px;
				font-size: 40px;
			}
		}

		ol {
			flex: 4;
			text-align: right;

			@include mediaMax( 569px ) {
				float: none;
				text-align: center;

				display: flex;
				justify-content: space-between;
			}

			@include clear();

			.nav-link {
				display: inline-block;
				padding: 0 15px;
				box-sizing: border-box;

				&:last-of-type {
					padding-right: 0;
				}

				@include mediaMax( 569px ) {
					padding: 0;
					text-align: center;
				}
			}

			li {
				cursor: pointer;
				display: inline;
				color: $darkBlue;
				font-family: $readStack;
				box-sizing: border-box;
				font-size: 16px;
				padding: 32px 0 0;
				font-weight: bold;
				text-transform: uppercase;

				&.active {
					border-bottom: 5px solid $blue;
				}

				@include mediaMax( 569px ) {
					font-size: 14px;
					padding: 15px 0;
				}
			}
		}
	}
}