$image-asset-path: '../../static/images/';
$font-asset-path: '../../static/fonts/';

// Fonts
$font-family: 'Pixellari', monospace, sans-serif;

// Colors
$blue-1: #010619;
$blue-2: lighten($blue-1, 15%);
$blue-3: lighten($blue-1, 30%);
// $blue-4: darken( $blue-1, 2% );

$gold-1: #9fa037;
$gold-2: darken($gold-1, 15%);
$gold-3: darken($gold-1, 30%);

// Sizes
$document-max-width: 590px;
$tracker-max-width: 570px;
$settings-width: 320px;
$grid-gutter-size: 1px;
